[runtime]
environment="$ENV||development"                                ; production / development / etc.

[server]
host="$HOST||demo"                                              ; hostname
port="$PORT||8000"                                              ; port

[grpc]
port="$GRPC_PORT||5566"                                         ; gRPC port

[postgres]
host="$POSTGRES_HOST||127.0.0.1"                                ; postgres host
port="$POSTGRES_PORT||5432"                                     ; postgres port
dbname="$POSTGRES_DBNAME||DEMO"                                 ; postgres dbname
user="$POSTGRES_USER||admin"                                    ; postgres user
password="$POSTGRES_PASSWORD||P@ssw0rd"                         ; postgres password

[jwt]
isenable="$JWT_ISENABLE||true"                                 ; jwt isenable, true or false
key="$JWT_KEY||P@ssw0rd"                                        ; jwt key
statictoken="$JWT_STATICTOKEN||eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySUQiOiJhdG8iLCJleHAiOjQ3OTY2MzY1OTYsImlzcyI6IkJhbmsgUmF5YSBJbmRvbmVzaWEifQ.Cg65Le1EDgEMYvVSg5fXzYj0sVg_HWIj5w_ANaudKpE"    ; jwt static token
expperiode="$JWT_EXPPERIODE||3600"                              ; jwt expired periode in seconds